<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <title>Amazona</title>
  </head>
  <body>
    <div class="grid-Container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">amazona</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Signin</a>
        </div>
      </header>
      <aside class="sidebar">
        <h3>Shopping Categories</h3>
        <button class="sidebar-close-button" onclick="closeMenu()">x</button>
        <ul>
          <li><a href="index.html">Paints</a></li>
          <li><a href="index.html">Shirts</a></li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image" src="images/Slim-Fit-chain-collar-shirt-white.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/blue-shirt.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d1.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d4.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d5.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d6.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d7.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d8.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d9.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="images/d10.jpg" />
                <div class="product-name"><a href="products.html">Slim Shirt</a></div>
                <div class="product-barnd">GentWith</div>
                <div class="product-price">$60</div>
                <div class="product-ratings">4.5 Stars (10 Reviews)</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All right reserved.</footer>
    </div>
    <script>
      function openMenu() {
        document.querySelector(".sidebar").classList.add("open");
      }
      function closeMenu() {
        document.querySelector(".sidebar").classList.remove("open");
      }
    </script>
  </body>
</html>
